.atas {
    margin-bottom: 120px;
}

.background-image {
    position: relative;
  }
  
  .header {
    position: absolute;
    top: 25%;
    left: 33%;
    transform: translate(-50%, -50%);
    width: 350px;
  }

  .overlaying-card {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    border: none;
  }

  